body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("https://static.pexels.com/photos/58592/pexels-photo-58592.jpeg");
    background-repeat:no-repeat;
    background-size:100%;
    background-position:center;
} 
.container{opacity:.8;}